--
-- PostgreSQL database dump
--

\restrict hzj2TUc393UvZQ92ul7KJKXQviAtQLxdmFxMVMETlyQnhlR5GDJPyHtsQd2Sk2J

-- Dumped from database version 17.10 (Debian 17.10-1.pgdg13+1)
-- Dumped by pg_dump version 17.10 (Debian 17.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: role_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.role_type AS ENUM (
    'superadmin',
    'admin',
    'siswa',
    'calon_ketua',
    'calon_anggota',
    'pembina',
    'kepala_sekolah'
);


ALTER TYPE public.role_type OWNER TO postgres;

--
-- Name: status_aktif_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.status_aktif_type AS ENUM (
    'aktif',
    'nonaktif'
);


ALTER TYPE public.status_aktif_type OWNER TO postgres;

--
-- Name: status_periode_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.status_periode_type AS ENUM (
    'aktif',
    'selesai'
);


ALTER TYPE public.status_periode_type OWNER TO postgres;

--
-- Name: status_seleksi_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.status_seleksi_type AS ENUM (
    'Menunggu',
    'Lulus',
    'Tidak Lulus'
);


ALTER TYPE public.status_seleksi_type OWNER TO postgres;

--
-- Name: update_timestamp(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_timestamp() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_timestamp() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: calon_anggota_osis; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.calon_anggota_osis (
    pendaftaran_id integer NOT NULL,
    siswa_id integer NOT NULL,
    alasan text,
    status public.status_seleksi_type DEFAULT 'Menunggu'::public.status_seleksi_type NOT NULL,
    tanggal_daftar date DEFAULT CURRENT_DATE
);


ALTER TABLE public.calon_anggota_osis OWNER TO postgres;

--
-- Name: calon_anggota_osis_pendaftaran_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.calon_anggota_osis_pendaftaran_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.calon_anggota_osis_pendaftaran_id_seq OWNER TO postgres;

--
-- Name: calon_anggota_osis_pendaftaran_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.calon_anggota_osis_pendaftaran_id_seq OWNED BY public.calon_anggota_osis.pendaftaran_id;


--
-- Name: calon_ketua; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.calon_ketua (
    calon_id integer NOT NULL,
    ketua_id integer NOT NULL,
    wakil_id integer NOT NULL,
    nomor_urut integer NOT NULL,
    visi text,
    misi text,
    foto character varying(255),
    status public.status_aktif_type DEFAULT 'aktif'::public.status_aktif_type NOT NULL,
    CONSTRAINT chk_ketua_wakil_different CHECK ((ketua_id <> wakil_id))
);


ALTER TABLE public.calon_ketua OWNER TO postgres;

--
-- Name: calon_ketua_calon_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.calon_ketua_calon_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.calon_ketua_calon_id_seq OWNER TO postgres;

--
-- Name: calon_ketua_calon_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.calon_ketua_calon_id_seq OWNED BY public.calon_ketua.calon_id;


--
-- Name: hasil_voting; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.hasil_voting (
    hasil_id integer NOT NULL,
    calon_id integer NOT NULL,
    total_suara integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.hasil_voting OWNER TO postgres;

--
-- Name: hasil_voting_hasil_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.hasil_voting_hasil_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.hasil_voting_hasil_id_seq OWNER TO postgres;

--
-- Name: hasil_voting_hasil_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.hasil_voting_hasil_id_seq OWNED BY public.hasil_voting.hasil_id;


--
-- Name: pengumuman; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pengumuman (
    pengumuman_id integer NOT NULL,
    judul character varying(100) NOT NULL,
    isi text NOT NULL,
    dibuat_oleh integer,
    tanggal timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.pengumuman OWNER TO postgres;

--
-- Name: pengumuman_pengumuman_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pengumuman_pengumuman_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pengumuman_pengumuman_id_seq OWNER TO postgres;

--
-- Name: pengumuman_pengumuman_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pengumuman_pengumuman_id_seq OWNED BY public.pengumuman.pengumuman_id;


--
-- Name: periode_pemilihan; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.periode_pemilihan (
    periode_id integer NOT NULL,
    nama_periode character varying(100) NOT NULL,
    tanggal_mulai date NOT NULL,
    tanggal_selesai date NOT NULL,
    status public.status_periode_type DEFAULT 'aktif'::public.status_periode_type NOT NULL
);


ALTER TABLE public.periode_pemilihan OWNER TO postgres;

--
-- Name: periode_pemilihan_periode_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.periode_pemilihan_periode_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.periode_pemilihan_periode_id_seq OWNER TO postgres;

--
-- Name: periode_pemilihan_periode_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.periode_pemilihan_periode_id_seq OWNED BY public.periode_pemilihan.periode_id;


--
-- Name: siswa; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.siswa (
    siswa_id integer NOT NULL,
    user_id integer,
    nis character varying(20) NOT NULL,
    kelas character varying(20) NOT NULL,
    rombel character varying(20) NOT NULL,
    jurusan character varying(50),
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.siswa OWNER TO postgres;

--
-- Name: siswa_siswa_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.siswa_siswa_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.siswa_siswa_id_seq OWNER TO postgres;

--
-- Name: siswa_siswa_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.siswa_siswa_id_seq OWNED BY public.siswa.siswa_id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    user_id integer NOT NULL,
    nama character varying(100) NOT NULL,
    username character varying(100) NOT NULL,
    password character varying(255) NOT NULL,
    role public.role_type NOT NULL,
    status public.status_aktif_type DEFAULT 'aktif'::public.status_aktif_type NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_user_id_seq OWNER TO postgres;

--
-- Name: users_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_user_id_seq OWNED BY public.users.user_id;


--
-- Name: voting; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.voting (
    voting_id integer NOT NULL,
    siswa_id integer NOT NULL,
    calon_id integer NOT NULL,
    waktu_vote timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.voting OWNER TO postgres;

--
-- Name: voting_voting_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.voting_voting_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.voting_voting_id_seq OWNER TO postgres;

--
-- Name: voting_voting_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.voting_voting_id_seq OWNED BY public.voting.voting_id;


--
-- Name: calon_anggota_osis pendaftaran_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calon_anggota_osis ALTER COLUMN pendaftaran_id SET DEFAULT nextval('public.calon_anggota_osis_pendaftaran_id_seq'::regclass);


--
-- Name: calon_ketua calon_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calon_ketua ALTER COLUMN calon_id SET DEFAULT nextval('public.calon_ketua_calon_id_seq'::regclass);


--
-- Name: hasil_voting hasil_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hasil_voting ALTER COLUMN hasil_id SET DEFAULT nextval('public.hasil_voting_hasil_id_seq'::regclass);


--
-- Name: pengumuman pengumuman_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pengumuman ALTER COLUMN pengumuman_id SET DEFAULT nextval('public.pengumuman_pengumuman_id_seq'::regclass);


--
-- Name: periode_pemilihan periode_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.periode_pemilihan ALTER COLUMN periode_id SET DEFAULT nextval('public.periode_pemilihan_periode_id_seq'::regclass);


--
-- Name: siswa siswa_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.siswa ALTER COLUMN siswa_id SET DEFAULT nextval('public.siswa_siswa_id_seq'::regclass);


--
-- Name: users user_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN user_id SET DEFAULT nextval('public.users_user_id_seq'::regclass);


--
-- Name: voting voting_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.voting ALTER COLUMN voting_id SET DEFAULT nextval('public.voting_voting_id_seq'::regclass);


--
-- Data for Name: calon_anggota_osis; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.calon_anggota_osis (pendaftaran_id, siswa_id, alasan, status, tanggal_daftar) FROM stdin;
\.


--
-- Data for Name: calon_ketua; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.calon_ketua (calon_id, ketua_id, wakil_id, nomor_urut, visi, misi, foto, status) FROM stdin;
1	1	2	1	Mewujudkan OSIS yang responsif, inklusif, dan inovatif	1. Mengadakan kegiatan akademik & non-akademik berprestasi\\n2. Meningkatkan disiplin dan solidaritas siswa	paslon1.jpg	aktif
2	3	4	2	Mengembangkan kreativitas dan karakter kepemimpinan siswa	1. Modernisasi dan digitalisasi kegiatan siswa\\n2. Mengadakan pelatihan kepemimpinan dan kewirausahaan	paslon2.jpg	aktif
\.


--
-- Data for Name: hasil_voting; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.hasil_voting (hasil_id, calon_id, total_suara) FROM stdin;
1	1	1
2	2	1
\.


--
-- Data for Name: pengumuman; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pengumuman (pengumuman_id, judul, isi, dibuat_oleh, tanggal) FROM stdin;
1	Pengumuman Pemilihan Ketua OSIS	Pemilihan Ketua dan Wakil Ketua OSIS telah dibuka. Gunakan hak pilih Anda!	2	2026-08-04 04:30:10.465249+00
\.


--
-- Data for Name: periode_pemilihan; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.periode_pemilihan (periode_id, nama_periode, tanggal_mulai, tanggal_selesai, status) FROM stdin;
1	Pemilihan Ketua OSIS Periode 2026/2027	2026-08-01	2026-08-10	aktif
\.


--
-- Data for Name: siswa; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.siswa (siswa_id, user_id, nis, kelas, rombel, jurusan, created_at, updated_at) FROM stdin;
1	5	1001	XI	XI-IPA-1	IPA	2026-08-04 04:30:10.460404+00	2026-08-04 04:30:10.460404+00
2	6	1002	XI	XI-IPA-2	IPA	2026-08-04 04:30:10.460404+00	2026-08-04 04:30:10.460404+00
3	7	1003	XI	XI-IPS-1	IPS	2026-08-04 04:30:10.460404+00	2026-08-04 04:30:10.460404+00
4	8	1004	XI	XI-IPS-2	IPS	2026-08-04 04:30:10.460404+00	2026-08-04 04:30:10.460404+00
5	9	1005	X	X-1	Umum	2026-08-04 04:30:10.460404+00	2026-08-04 04:30:10.460404+00
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: voting; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.voting (voting_id, siswa_id, calon_id, waktu_vote) FROM stdin;
1	5	1	2026-08-04 05:59:45.275212+00
2	4	2	2026-08-04 06:34:10.220113+00
\.


--
-- Name: calon_anggota_osis_pendaftaran_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.calon_anggota_osis_pendaftaran_id_seq', 1, false);


--
-- Name: calon_ketua_calon_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.calon_ketua_calon_id_seq', 2, true);


--
-- Name: hasil_voting_hasil_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.hasil_voting_hasil_id_seq', 2, true);


--
-- Name: pengumuman_pengumuman_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pengumuman_pengumuman_id_seq', 1, true);


--
-- Name: periode_pemilihan_periode_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.periode_pemilihan_periode_id_seq', 1, true);


--
-- Name: siswa_siswa_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.siswa_siswa_id_seq', 5, true);


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_user_id_seq', 9, true);


--
-- Name: voting_voting_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.voting_voting_id_seq', 2, true);


--
-- Name: calon_anggota_osis calon_anggota_osis_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calon_anggota_osis
    ADD CONSTRAINT calon_anggota_osis_pkey PRIMARY KEY (pendaftaran_id);


--
-- Name: calon_ketua calon_ketua_nomor_urut_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calon_ketua
    ADD CONSTRAINT calon_ketua_nomor_urut_key UNIQUE (nomor_urut);


--
-- Name: calon_ketua calon_ketua_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calon_ketua
    ADD CONSTRAINT calon_ketua_pkey PRIMARY KEY (calon_id);


--
-- Name: hasil_voting hasil_voting_calon_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hasil_voting
    ADD CONSTRAINT hasil_voting_calon_id_key UNIQUE (calon_id);


--
-- Name: hasil_voting hasil_voting_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hasil_voting
    ADD CONSTRAINT hasil_voting_pkey PRIMARY KEY (hasil_id);


--
-- Name: pengumuman pengumuman_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pengumuman
    ADD CONSTRAINT pengumuman_pkey PRIMARY KEY (pengumuman_id);


--
-- Name: periode_pemilihan periode_pemilihan_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.periode_pemilihan
    ADD CONSTRAINT periode_pemilihan_pkey PRIMARY KEY (periode_id);


--
-- Name: siswa siswa_nis_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.siswa
    ADD CONSTRAINT siswa_nis_key UNIQUE (nis);


--
-- Name: siswa siswa_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.siswa
    ADD CONSTRAINT siswa_pkey PRIMARY KEY (siswa_id);


--
-- Name: siswa siswa_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.siswa
    ADD CONSTRAINT siswa_user_id_key UNIQUE (user_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: voting voting_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.voting
    ADD CONSTRAINT voting_pkey PRIMARY KEY (voting_id);


--
-- Name: voting voting_siswa_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.voting
    ADD CONSTRAINT voting_siswa_id_key UNIQUE (siswa_id);


--
-- Name: siswa update_siswa_timestamp; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_siswa_timestamp BEFORE UPDATE ON public.siswa FOR EACH ROW EXECUTE FUNCTION public.update_timestamp();


--
-- Name: users update_users_timestamp; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_users_timestamp BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.update_timestamp();


--
-- Name: calon_anggota_osis calon_anggota_osis_siswa_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calon_anggota_osis
    ADD CONSTRAINT calon_anggota_osis_siswa_id_fkey FOREIGN KEY (siswa_id) REFERENCES public.siswa(siswa_id) ON DELETE CASCADE;


--
-- Name: calon_ketua calon_ketua_ketua_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calon_ketua
    ADD CONSTRAINT calon_ketua_ketua_id_fkey FOREIGN KEY (ketua_id) REFERENCES public.siswa(siswa_id) ON DELETE CASCADE;


--
-- Name: calon_ketua calon_ketua_wakil_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calon_ketua
    ADD CONSTRAINT calon_ketua_wakil_id_fkey FOREIGN KEY (wakil_id) REFERENCES public.siswa(siswa_id) ON DELETE CASCADE;


--
-- Name: hasil_voting hasil_voting_calon_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hasil_voting
    ADD CONSTRAINT hasil_voting_calon_id_fkey FOREIGN KEY (calon_id) REFERENCES public.calon_ketua(calon_id) ON DELETE CASCADE;


--
-- Name: pengumuman pengumuman_dibuat_oleh_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pengumuman
    ADD CONSTRAINT pengumuman_dibuat_oleh_fkey FOREIGN KEY (dibuat_oleh) REFERENCES public.users(user_id) ON DELETE SET NULL;


--
-- Name: siswa siswa_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.siswa
    ADD CONSTRAINT siswa_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: voting voting_calon_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.voting
    ADD CONSTRAINT voting_calon_id_fkey FOREIGN KEY (calon_id) REFERENCES public.calon_ketua(calon_id) ON DELETE CASCADE;


--
-- Name: voting voting_siswa_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.voting
    ADD CONSTRAINT voting_siswa_id_fkey FOREIGN KEY (siswa_id) REFERENCES public.siswa(siswa_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict hzj2TUc393UvZQ92ul7KJKXQviAtQLxdmFxMVMETlyQnhlR5GDJPyHtsQd2Sk2J

